name: Composition / Test Trivy Scan GitHub IaC Config

on:
  push:
    branches-ignore:
      - 'main'

jobs:
  test:
    runs-on: ubuntu-22.04
    
    steps:
      - uses: imantisco/mantisco-github-action/composition/test_trivy_scan_github_iac_config@dev
        with:
          format: "sarif"
          severity: "HIGH,CRITICAL"
          output_file: "trivy-results.sarif"