name: PR Generator Test

on:
  push:
    branches:
      - '*'

    ignore_brancehs:
      - 'main'

jobs:
  test:
    runs-on: ubuntu-22.04
    
    steps:
      - uses: imantisco/mantisco-github-action/ci/pull_request/pull_request_generator@main